.convas_body{
margin-top: 10px;
}

.body_main_banner{
    position: relative;
    border: 1px solid #000000;
}

.main_banner_img{
  max-width: 100%;
}

.main_banner_text{
    position: absolute;
    top: 27%;
    left: 38%;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;    
    font-weight: 400;
    font-size: 72px
}

.main_banner_button{
    width: 150px;
    height: 50px;
    top: 62%;
    left: 43.5%;
    font-family: 'Roboto', sans-serif;    
    font-size:18px ;
     position: absolute;
    text-align: center;
    justify-items: center;
    background-color: #0E49B5;
    color: white;
    border: 2px solid #000000;
    cursor: pointer;

}

.body_input_search{
    margin-top: 40px;
    padding: 10px;
    font-size: 17px;
    border: 2px solid rgb(236, 236, 236);
    border-radius: 15px;
    float: left;
    width: 97%;
    margin-right: px;
    background: #ffffff;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    align-items: center;
    height: 36px;
    margin-bottom: 40px;
}

.input_searcher{
    margin-left: 25px;
    width: 90%;
    border: none;
    font-size: medium;
     outline: none;
}


.searcher_logo{
    width: 20px;
    height: 20px;
}

.searcher_filter{
width: 40px;
height: 40px;
cursor: pointer;
}

.searcher_setting{
 width: 40px;
 height: 40px;
 margin-left: 14px; 
 cursor: pointer;
}



/* body */

    


.bottom_card{
    margin-top: 6px;
    height: 86px;
    width: 300px;
    background-color: rgb(189, 186, 186);
    display: flex;
    justify-content: space-between;
}
.img_like{
    width: 20px;
    height: 20px;
    margin-left: 13px;
    margin-top: 19px;
    margin-right: 11px;
}

.card_element{
width: 300px;
height: 480px;
display: flex;
flex-direction: column;
justify-items: center;
align-items: center;
border-radius: 5px;
box-shadow: 0px 0px 8px;
}

.img_card{
    width: 200px;
    height: 200px;
}
h2{
    font-family: 'Roboto', sans-serif;    
  font-weight: 700 ;
}
.card_button{
    width: 150px;
    height: 50px;
    font-family: 'Roboto', sans-serif;    
    font-size:18px ;
    text-align: center;
    justify-items: center;
    background-color: #0E49B5;
    color: white;
    border: 2px solid #000000;
    cursor: pointer;
}


@media screen and (max-width:1035px ) {
    .main_banner_text{
        font-size: 70px;
    }
    .main_banner_button{
        left: 43%;

    }

}
@media screen and (max-width:950px ) {
    .main_banner_text{
        font-size: 60px;
    }
    .main_banner_button{
        left: 42%;
        top: 60%;

    }
}
@media screen and (max-width:850px ) {
    .main_banner_text{
        font-size: 50px;

    }
    .main_banner_button{
        left: 40.5%;
        width: 145px;
    }

}
@media screen and (max-width:700px ) {
    .main_banner_text{
        font-size: 45px;
    }
    .main_banner_button{
        left: 40.5%;
        width: 135px;
        height: 48px;
    }
}
@media screen and (max-width:620px ) {
    .main_banner_text{
        font-size: 40px;
    }
    .main_banner_button{
        left: 38%;
        width: 145px;
        height: 45px;
    }

}
@media screen and (max-width:550px ) {
    .main_banner_text{
        font-size: 35px;
    }
    .main_banner_button{
        left: 38%;
        width: 124px;
        height: 36px;
    }

}
