@import url("./header.css");
@import url("./itemsPage.css");
@import url("./addSlider.css");
@import url("./filterDIsplay.css");
@import url("./backet.css");

.convas {
    max-width: 1025px;
    position: relative;
    margin: 0 auto;
}
